{% extends "base.html" %}
{% block content %}
<form id="startPanel" class="form-group">
  <h3>
    Pick a name for your drawing room to get started
  </h3>
  <div class="form-group">
    <input id="room" type="text" class="form-control"
	   placeholder="Room">
  </div>
  <button id="go" class="btn btn-primary" type="button">Go</button>
</form>

<div id="drawPanel" style="display: none;">
  <h3>You've joined <span id="drawingRoom"></span></h3>
  <div id="drawing-wrapper">
  </div>
</div>
{% endblock %}
